/*common part start*/
@font-face{
	src:url(../fonts/playfair-display/PlayfairDisplay-Regular.otf);
	font-family:PlayfairDisplay-Regular; 
}
@font-face{
	src:url(../fonts/Inconsolata/Inconsolata.otf);
	font-family:Inconsolata; 
}

@font-face{
	src:url(../fonts/Ubuntu/Ubuntu-Light.ttf);
	font-family:Ubuntu-Light; 
}
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	font-family:PlayfairDisplay-Regular;
}
/*common part end*/
/*header start*/
.header{
	margin: 40px 0;
}
.content{
	margin: 0 auto;
    width: 90%;
    overflow: hidden;
}
.logo{
	margin-top: 14px;
    width: 9%;
    float: left;


}
.logo img{
	width: 100%;
}
.menu{
	width: 65%;
    float: right;

}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
    float: left;
}
.menu ul li a{
	margin: 0px 64px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    color: #626262;
    font-size: 20px;
    text-decoration: none;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid black;
}
/*header end*/
/*banner start*/
.b-image img{
	width: 100%;
}
/*banner end*/
/*weekend start*/
.weekend{
	padding: 30px 0 30px;
}
.content2{
    margin: 0 auto;
    width: 80%;   
}
.getaway{
	padding: 30px 0 70px;
}
.s-getaway{
	font-family:Ubuntu-Light; 
	font-size: 14px;
	font-weight: 300;
	color:#c7c1b6;
	text-transform: uppercase;	
}
.h-getaway{
	margin: 20px 0 30px;
	font-size: 30px;
	font-weight: 400;
	color:#626262; 
}
.p-getaway{
	color:#6b6b6b;
	line-height: 28px;	
}
.mt40{
	padding-top: 50px;
}
/*weekend end*/
/*gataway start*/
.b-wrapper{
	overflow: hidden;
}
.single{
	margin: 60px 0 60px;
    width: 47%;
    float: left;
   
}
.single:nth-child(even){
	margin-left: 6%;
}
.music-image{
	width: 100%;
}
/*news letter start*/
.newsletter{
	margin:50px 0;
	padding:50px 0;
	background-color:#f0f0f0;
	

}
.content3{
	margin: 0 auto;
	width: 60%;    
}
.signup{
	text-align: center;
}
.signup h1{
	margin: 0 50px 100px 0;
	font-size: 30px;
	font-family: PlayfairDisplay-Regular;

}
.for-form{
	margin: 0 auto;
	width: 450px;
	left: 0;
	right: 0;
    
    position: relative;
}

.for-form input{
	padding: 10px 49px 10px 10px;
	width: 380px;
	font-size: 18px;
    border: none;
    font-family:PlayfairDisplay-Regular;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
    

}
.for-form button{
    border: none;
    background: transparent;
    position: absolute;
    right: 10px;
    bottom: 6px;

}
.for-form img{
	border: none;
    background: transparent;
}
/*news letter end*/
/*button start*/
.load{
	margin: 150px 0;
	text-align: center;
}
.load button{
	width: 170px;
	height: 66px;
	background: transparent;
	border: 1px solid #6b6b6b;
	font-size: 20px;
	font-weight: 400;
	font-family:PlayfairDisplay-Regular; 
	cursor: pointer;
	color:#6c6c6c;
	transition: 0.3s
}
.load button:hover{
	background-color: #6c6c6c;
	color: white;	
}
.load button:focus {
    outline:none;}
    /*button end*/
    /*footer start*/
.footer{
	padding: 20px 0;
	background-color:#f0f0f0;
}
.terms{
    float: left;
    width: 31%;
    margin-top: 10px;	
}


.terms ul li{
	list-style: none;
	float: left;
 	
}
.terms ul li a{
    padding-left: 30px;
    text-decoration: none;
    color: #101010;
}

.follow{
    float: right;
    width: 15%;
}
.follow ul{	
}
.follow ul li{
    color: #676767;
    list-style: none;
    float: left;
    padding: 10px;
}
.follow ul li a{
	text-decoration: none;
	color: #101010;
}
/*footer end*/
